# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# Better Auth secret key
BETTER_AUTH_SECRET=your_better_auth_secret

# Better Auth base URL
BETTER_AUTH_URL=http://localhost:3000

# Cloudflare API key
CLOUDFLARE_API_KEY=your_cloudflare_api_key

# Cloudinary API key
CLOUDINARY_API_KEY="your_cloudinary_api_key"

# Cloudinary API secret
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"

# Cloudinary cloud name
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"

# Database URL for PostgreSQL
DATABASE_URL='your_database_url'

# Flux Klein image worker URL
FLUX_KLEIN_WORKER_URL="your_flux_worker_url"

# GLM text generator worker URL
GLM_WORKER_URL="your_glm_worker_url"


# Google OAuth client ID
GOOGLE_CLIENT_ID=your_google_client_id

# Google OAuth client secret
GOOGLE_CLIENT_SECRET=your_google_client_secret

# App base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Resend API key
RESEND_API_KEY=your_resend_api_key
